.phonebook__form {
    display: flex;
    flex-direction: column;

    width: 500px;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 203, 173);
    color: rgb(78, 41, 20);
}

.phonebook__label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.phonebook__input {
    width: 250px;
    margin-bottom: 10px;
    border: 0.3px solid rgb(78, 41, 20);
    font-size: 18px;
}

.phonebook__button {
    width: 100px;
    padding: 5px 10px;
    background-color: rgb(78, 41, 20);
    color: white;
    border: none;
    border-radius: 15px;
}